{% extends 'dashboard_base.html' %}

{% block dashboard_content %}

<h3>🩸 Apply for Blood Donation</h3>

<div class="card shadow-sm">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Units to Donate</label>
                <input type="number" name="units" class="form-control" min="1" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Donation Date</label>
                <input
                    type="date"
                    name="request_date"
                    class="form-control"
                    max="{{ today|default:'' }}"
                    required
                >
            </div>

            <button class="btn btn-danger">
                <i class="bi bi-heart-pulse"></i> Submit Request
            </button>
        </form>
    </div>
</div>

{% endblock %}
