{% extends "dashboard_base.html" %}
{% block dashboard_content %}

<h4>Create Blood Donation Camp</h4>

<form method="post" class="card p-4 shadow mt-3">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Camp Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Date</label>
        <input type="date" name="date" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text" name="location" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-danger">
        Create Camp
    </button>
</form>

{% endblock %}
